<!DOCTYPE html>
<html>
    <head>
        <title>About Us</title>
        <link rel="stylesheet" href="/css/aboutus.css">
        <style>

        </style>
    </head>

    <body>
        <div class="sidenav">
            <img src="/images/logo copy.png" />    
            <a href="" onclick="window.history.back(); return false;">&lt; back</a>
        </div>

        <div class="main">
            <h1 class="page-title">About Us</h1>
            <pre>Lab World is a simple, efficient platform designed to help students book laboratory spaces and
            equipment with ease. Our goal is to eliminate scheduling conflicts and ensure fair access to school
            resources making every learning experience smoother and more organized.</pre>

            <h3>NPM Packages</h3>
            <ul>
                <li>express</li>
                <li>express-fileupload</li>
                <li>mongoose</li>
                <li>bcrypt</li>
                <li>dotenv</li>
            </ul>

            <div class="developers">
                <h3>Developers</h3>
                <div class="characters">
                    <div class="character">
                        <img src="/images/jet.png">
                        <span>BUENAVENTURA, ANGEL M.</span>
                    </div>
                    <div class="character">
                        <img src="/images/janelle.png">
                        <span>DAGUISO, JANELLE ANN F.</span>
                    </div>
                    <div class="character">
                        <img src="/images/jm.png">
                        <span>GREGORIO, JOHN MARC JOEPHERL M.</span>
                    </div>
                    <div class="character">
                        <img src="/images/reg.png">
                        <span>MIRAL, REGINA FRANCES L.</span>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>