<!DOCTYPE HTML>
<html>
    <head>
        <title>Welcome Page</title>
        <link rel="stylesheet" href="/css/welcome.css">
    </head>
    <body>
        <div class="whole">
            <div class="header">
                <img src="/images/welcomeHead.png">
            </div>
            <div class="login">
                <a href="/views/shared/login.html">
                    <img src="/images/login.png">
                </a>
            </div>
            <div class="student">
                <a href="/views/student/RegistrationPage.html">
                    <img src="/images/student.png">
                </a>
            </div>
        </div>
    </body>
</html>