MONGO_URI=# insert personal URI here

# go to atlas project, connect using drivers
# copy NON-SRV string (mongodb:// instead of mongodb+srv://)
# there should be one question mark in the string
# add reservation_db before it (mongodb.net:27017/reservation_db?)
# filename should be .env only
