<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<title>Student Search</title>
    <link rel="stylesheet" href="/css/s-rc.css">
</head>

<body>
	<div class="sidenav">
		<img src="/images/logo copy.png" />
		<div class="links">
			<div>
				<a href="/views/student/mainmenu_student.html">Home</a>
				<a href="/views/student/s-rc-ls.html">Reserve Computer</a>
				<a href="" style="font-weight: bold;">Student Search</a>
				<a href="/views/student/userprofile_student.html">View User Profile</a>
			</div>
			<button class="back-btn" onclick="history.back()">&lt; back</button>
		</div>  
	</div>

    <div class="container">
	
        <div class="header">
		
            <p class="title">Student Search</p>
			
        </div>

        <div class="main-content">
		
            <div class="panel right-panel">
				<div class="search-header">
                    <p class="search-title">Search student by name:</p>
					<input type="text" class="student-name" id="student-name" placeholder="Input first or last name">
					<button class="search-btn" id="search-btn">Search</button>
                </div>
				
                <div class="search-body">
				
					<div class="search-table">
						<p class="res-title">Students found:</p>
						
						<div class="search" id="search">
							<div class="search-results">
								<div class="result-name"></div>
								<div class="result-btns">
									<button class="view-prof">View User Profile</button>
									<button class="view-res">View Reservations</button>
								</div>
							</div>
							<div class="search-results">
								<div class="result-name"></div>
								<div class="result-btns">
									<button class="view-prof">View User Profile</button>
									<button class="view-res">View Reservations</button>
								</div>
							</div>
							<div class="search-results">
								<div class="result-name"></div>
								<div class="result-btns">
									<button class="view-prof">View User Profile</button>
									<button class="view-res">View Reservations</button>
								</div>
							</div>
							<div class="search-results">
								<div class="result-name"></div>
								<div class="result-btns">
									<button class="view-prof">View User Profile</button>
									<button class="view-res">View Reservations</button>
								</div>
							</div>
							<div class="search-results">
								<div class="result-name"></div>
								<div class="result-btns">
									<button class="view-prof">View User Profile</button>
									<button class="view-res">View Reservations</button>
								</div>
							</div>
							<div class="search-results">
								<div class="result-name"></div>
								<div class="result-btns">
									<button class="view-prof">View User Profile</button>
									<button class="view-res">View Reservations</button>
								</div>
							</div>
						</div>
						
						<div class="sched-navigation">
							<p class="prev" id="prev">Prev</p>
							<p class="next" id="next">Next</p>
						</div>
					</div>
					
				</div>
            </div>
			
        </div>
    </div>
	
	<script src="/js-rc.js"></script>
	
</body>

</html>
