<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	
    <link rel="stylesheet" href="/css/lt-rc.css">
</head>

<body>
	<!-- NEW : side navigation -->
	<div class="sidenav">
		<img src="/images/logo copy.png" />
		<div class="links">
			<div>
				<a href="/views/labtech//mainmenu_labtech.html">Home</a>
				<a href="/views/labtech/lt-vr-ls.html">View Reservations</a>
				<a href="/views/labtech/lt-ss.html">Student Search</a>
				<a href="/views/labtech/userprofile_labtech.html">View User Profile</a>
			</div>
			<button class="back-btn" onclick="history.back()">&lt; back</button>
		</div>  
	</div>

    <div class="container">
	
        <div class="header">
		
            <p class="title">View Reservations</p>
            <p class="subtitle">Select computer.</p>
			
        </div>

        <div class="main-content">
		
			<div class="panel left-panel">
				<div class="panel-title">
					<p>Reservation Details</p>
				</div>
				
				<div class="panel-content">
					<div class="comp-date-time">
						<div class="row date">
							<p>Date:</p>
							<p class="cur-date" id="cur-date"></p>
						</div>
						
						<div class="row time">
							<p>Time Slot:</p>
							<p class="cur-time" id="cur-time"></p>
						</div>
					</div>
				
					<div class="res active">
						<p class="active-title">Ongoing Reservations</p>
					
						<div class="comps">
							<div class="comp-row">
								<p class="comp-name">Computers:</p>
								<p class="comp-name" id="ongoing-computers"></p>
							</div>
						</div>
					</div>
				</div>
            </div>
			
			<div class="vl"></div>
		
            <div class="panel right-panel">
				<div class="panel-header">
                    <p class="panel-title" id="view-panel-title"></p>
                </div>
				
                <div class="panel-body">
					<div class="comp-pair">
						<div class="comp l1">
							<div class="comp-icon-frame">
								<img src="/images/comp logo.png" class="comp-icon"/>
							</div>
							
							<div class="comp-title">
								<p><a href="/views/labtech/lt-vr-cs-c.html" data-comp="1">Comp 1</a></p>
							</div>
						</div>
						
						<div class="comp l2">
							<div class="comp-icon-frame">
								<img src="/images/comp logo.png" class="comp-icon"/>
							</div>
							
							<div class="comp-title">
								<p><a href="/views/labtech/lt-vr-cs-c.html" data-comp="2">Comp 2</a></p>
							</div>
						</div>
					</div>

					<div class="comp-pair">
						<div class="comp l3">
							<div class="comp-icon-frame">
								<img src="/images/comp logo.png" class="comp-icon"/>
							</div>
							
							<div class="comp-title">
								<p><a href="/views/labtech/lt-vr-cs-c.html" data-comp="3">Comp 3</a></p>
							</div>
						</div>
						
						<div class="comp l4">
							<div class="comp-icon-frame">
								<img src="/images/comp logo.png" class="comp-icon"/>
							</div>
							
							<div class="comp-title">
								<p><a href="/views/labtech/lt-vr-cs-c.html" data-comp="4">Comp 4</a></p>
							</div>
						</div>
					</div>
					
					<div class="comp-pair">
						<div class="comp l5">
							<div class="comp-icon-frame">
								<img src="/images/comp logo.png" class="comp-icon"/>
							</div>
							
							<div class="comp-title">
								<p><a href="/views/labtech/lt-vr-cs-c.html" data-comp="5">Comp 5</a></p>
							</div>
						</div>
						
						<div class="comp l6">
							<div class="comp-icon-frame">
								<img src="/images/comp logo.png" class="comp-icon"/>
							</div>
							
							<div class="comp-title">
								<p><a href="/views/labtech/lt-vr-cs-c.html" data-comp="6">Comp 6</a></p>
							</div>
						</div>
					</div>
						
					<div class="comp-pair">
						<div class="comp l7">
							<div class="comp-icon-frame">
								<img src="/images/comp logo.png" class="comp-icon"/>
							</div>
							
							<div class="comp-title">
								<p><a href="/views/labtech/lt-vr-cs-c.html" data-comp="7">Comp 7</a></p>
							</div>
						</div>
						
						<div class="comp l8">
							<div class="comp-icon-frame">
								<img src="/images/comp logo.png" class="comp-icon"/>
							</div>
							
							<div class="comp-title">
								<p><a href="/views/labtech/lt-vr-cs-c.html" data-comp="8">Comp 8</a></p>
							</div>
						</div>
					</div>
					
					<div class="comp-pair">
						<div class="comp l9">
							<div class="comp-icon-frame">
								<img src="/images/comp logo.png" class="comp-icon"/>
							</div>
							
							<div class="comp-title">
								<p><a href="/views/labtech/lt-vr-cs-c.html" data-comp="9">Comp 9</a></p>
							</div>
						</div>
						
						<div class="comp l10">
							<div class="comp-icon-frame">
								<img src="/images/comp logo.png" class="comp-icon"/>
							</div>
							
							<div class="comp-title">
								<p><a href="/views/labtech/lt-vr-cs-c.html" data-comp="10">Comp 10</a></p>
							</div>
						</div>
					</div>
				</div>
            </div>
			
        </div>
    </div>
	
	<script src="/js/lt-rc.js"></script>
	
</body>

</html>
